@use './variables';
@use './atoms/toggle-mode';

body {
    --color-background: #fafafa;
    --color-foreground: #1f2023;
  }
  @media (prefers-color-scheme: dark) {
    body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
    }
  }